@model List<EducationInfoVM>
@*@{
    string previousDisabled = Model.PreviousPage ? "" : "disabled";
    string nextDisabled = Model.NextPage ? "" : "disabled";
}*@
@{
    ViewData["Title"] = "AllEducations";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutAdmin.cshtml";
} 


<div class="col-12 col-md-10 offset-1 offset-1">
    <div class="text-danger" asp-validation-summary="All"></div>
    <h1>All Educations</h1>

    <table style="width:100%; border:solid" class="table table-hover">
        <tr>
            <th style="border:solid; color:blue">TRAINER</th>
            <th style="border:solid; color:blue">EDUCATION</th>
            <th style="border:solid; color:blue">CATEGORY</th>
            <th style="border:solid; color:blue">TRAINER TYPE</th>
            <th style="border:solid; color:blue">KONTENJAN</th>
            <th style="border:solid; color:blue">PRICE PER DAY</th>
            <th style="border:solid; color:blue">TIME</th>            


        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th style="border:solid; color:black">@item.Trainer.Name <br />@item.Trainer.Surname - <br />@item.Trainer.Department</th>
                <th style="border:solid; color:black">@item.Name</th>
                <th style="border:solid; color:black">@item.Category.Name</th>
                <th style="border:solid; color:black">@item.Trainer.Type</th>
                <th style="border:solid; color:black">@item.Kontenjan</th>
                <th style="border:solid; color:black">@item.PricePerDay</th>
                <th style="border:solid; color:black">@item.Time</th>                                      
            </tr>
        }
        <br />
    </table>

    <br />
    <h1>Student Requests</h1>
    </div>
<div class="col-12 col-md-10 offset-1 offset-1">
    <div class="text-danger" asp-validation-summary="All"></div>

    <table style="width:100%; border:solid" class="table table-hover">
        <tr>
            <th style="border:solid; color:blue">STUDENT</th>
            <th style="border:solid; color:blue">TRAINER</th>
            <th style="border:solid; color:blue">EDUCATION</th>
            <th style="border:solid; color:blue">CATEGORY</th>
            <th style="border:solid; color:blue">TRAINER TYPE</th>
            <th style="border:solid; color:blue">KONTENJAN</th>
            <th style="border:solid; color:blue">PRICE PER DAY</th>
            <th style="border:solid; color:blue">TIME</th>
            <th style="border:solid; color:blue">REQUEST</th>
            <th style="border:solid; color:blue">CANCEL</th>


        </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <th style="border:solid; color:black">@item.Student.Name <br />@item.Student.Surname - <br />@item.Student.TcNo</th>
                    <th style="border:solid; color:black">@item.Trainer.Name <br />@item.Trainer.Surname - <br /></th>
                    <th style="border:solid; color:black">@item.Name</th>
                    <th style="border:solid; color:black">@item.Category.Name</th>
                    <th style="border:solid; color:black">@item.Trainer.Type</th>
                    <th style="border:solid; color:black">@item.Kontenjan</th>
                    <th style="border:solid; color:black">@item.PricePerDay</th>
                    <th style="border:solid; color:black">@item.Time</th>
                    <th style="border:solid; color:black">@item.Student.EducationRequest.IsEducationRequested</th>
                    <th style="border:solid; color:black">@item.Student.EducationRequest.IsEducationCanceled</th>
                </tr>
            }
        <br />       
    </table>
    <br />
   @* <div class="row">
        <div class="text-center">
            <ul class="pagination">

                <li>
                    <a class="page-link btn @previousDisabled" href="@Url.ActionLink("AllEducations","Admin",new{area="Manager",pageindex=Model.PageIndex-1})">
                        &laquo;
                    </a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li>
                        <a class="page-link" href="@Url.ActionLink("AllEducations","Admin",new{area="Manager",pageindex=i})">
                            @i
                        </a>
                    </li>
                }

                <li>
                    <a class="page-link btn @nextDisabled" href="@Url.ActionLink("AllEducations","Admin",new{area="Manager",pageindex=Model.PageIndex+1})">
                        &raquo;
                    </a>
                </li>
            </ul>
        </div>
    </div>*@
</div>
